rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // MODO DESARROLLO - QUITAR EN PRODUCCIÓN
    // Permitir acceso total a todos los documentos sin restricciones
    match /{document=**} {
      allow read, write: if true;
    }
  }
} 